@import "reset";
@import "tools";

// Basics

body,
html {
  width: 100%;
}

// Typography
a,
div,
h1,
input,
p,
span,
textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
div,
p,
span {
  font: 19px sans-serif;
  font-weight: normal;
}
a {
  text-decoration: underline;
  color: #333;
}
h1 {
  font-size: 23px;
  font-weight: 500;
}
h2 {
  font-weight: 400;
  font-size: 19px;
}

// Icons (using IcoMoon's external vg sprite)

.icon {
  display: inline-block;
  position: relative;
  top: 10px;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
svg {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}

// Content

body {
  padding: 30px;
  .left {
    float: left;
  }
  .right {
    float: right;
    p {
      position: relative;
      top: 6px;
    }
  }
}
.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, auto);
  grid-gap: 25px;
}
.grid-item {
  position: relative;
  grid-row: span 2;
  color: black;
  border-top: 1px solid black;
  h2 {
    padding: 20px 0;
  }
  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 10px;
  }
}

// Colour swatches
.colours {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: fr;
  .colour {
    .swatch {
      width: 100%;
      height: 150px;
      margin-bottom: 10px;
    }
    .info {
      strong,
      span {
        font-size: 15px;
        line-height: 28px;
      }
      strong {
        margin-right: 5px;
      }
    }
  }
  &.two {
    grid-template-columns: 1fr 1fr;
  }
  &.three {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.four {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &.five {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


// Spanning

.span-6 {
  grid-column: span 6;
}
.span-4 {
  grid-column: span 4;
}
.span-3  {
  grid-column: span 3;
}
.span-1-row {
  grid-row: span 1;
}

// Footer

@import "responsivity";
@import "print";
